replicaCount: 2

image:
  repository: rukevweubio/bitcoin-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80

resources: {}
nodeSelector: {}
tolerations: []
affinity: []

serviceAccount:
  create: false
  name: ""

ingress:
  create: false 
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80


httpRoute:
  enabled: false

